# Переменные окружения (раскомментируйте при необходимости)
# .env

# SSL и служебные данные Certbot
certbot/conf/*
!certbot/conf/.gitkeep

# Webroot для ACME challenge
certbot/www/*
!certbot/www/.gitkeep

# Данные и конфиг AdGuard Home (оставляем только .gitkeep)
adguard/conf/*
!adguard/conf/.gitkeep
adguard/work/*
!adguard/work/.gitkeep

# IDE/OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*~
